In [29]:
import pandas as pd
import numpy as np

In [49]:
pd.Series(np.random.seed(20))

Series([], dtype: float64)

In [57]:
data_first = pd.DataFrame(np.ones(shape=(4,4)),['A','B','C','D'], ['W','X','Y','Z'])

In [58]:
data_first

     W    X    Y    Z
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [54]:
data_first.lookup(['A','B'],['W','X'])

array([1., 1.])

In [53]:
data_second = pd.DataFrame(np.,['A','B','C','D'], ['W','X','Y','Z'])

In [72]:
data_first.loc('A')