In [20]:
import pandas as pd
import numpy as np

In [ ]:
pd.

In [21]:
data_f = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])

In [22]:
data_f

          W         X         Y         Z
A -0.029790  2.051863 -0.681736 -0.957242
B  0.600530 -0.115556 -0.859294  0.477283
C -0.393868 -0.569547  0.493147  0.547208
D -0.252357 -1.181063  0.456151 -1.696579
E -1.050317 -0.588965 -2.020587  0.005563

In [23]:
data_f.lookup(['A','B'],['W','X'])

array([-0.02978984, -0.11555571])